<div class="user-item-page-container  container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-file-word fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>{{pageTitle}}</span>
                <small style="display: block;" class="text-secondary" [innerHTML]="pageSubtitle"></small>
            </div>
        </div>
        <div class="right-area">
            <ng-template [ngIf]="!IDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="itemCreateEvent()">
                    <i class="fas fa-plus-square"></i> {{pageCreateButtonText}}
                </button>
                <button class="btn btn-warning" (click)="resetForms()">
                    <i class="fas fa-eraser"></i> Reset Form
                </button>
                <button class="btn btn-danger">
                    <i class="far fa-window-close"></i> Cancel
                </button>
            </ng-template>
            <ng-template [ngIf]="IDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="itemUpdateEvent()">
                    <i class="far fa-save"></i> Save Changes
                </button>
                <button class="btn btn-danger" (click)="itemDeleteEvent()">
                    <i class="far fa-trash-alt"></i> {{pageDeleteButtonText}}
                </button>
            </ng-template>
        </div>
    </div>
    <div class="user-item-container">
        <form [formGroup]="itemForm">
            <div class="form-group row">
                <label for="email" class="col-md-1 col-form-label">Email: </label>
                <div class="col-md-4">
                    <input id="email" type="text" class="form-control" aria-describedby="email_help" placeholder="Enter valid email"
                           formControlName="email" [ngClass]="{'is-invalid': isItemFormSubmitted && fC.email.errors}">
                    <div class="invalid-feedback" *ngIf="isItemFormSubmitted && fC.email.errors">
                        <div *ngIf="fC.email.errors.required">Valid Email is required</div>
                    </div>
                    <small id="email_help" class="form-text text-muted">Please enter a valid, working email.</small>
                </div>
                <label for="user_credential_name" class="col-md-1 col-form-label">Alias: </label>
                <div class="col-md-4">
                    <input id="user_credential_name" type="text" class="form-control" aria-describedby="user_credential_name_help" placeholder="Enter an alias"
                           formControlName="user_credential_name" [ngClass]="{'is-invalid': isItemFormSubmitted && fC.email.errors}">
                    <div class="invalid-feedback" *ngIf="isItemFormSubmitted && fC.user_credential_name.errors">
                        <div *ngIf="fC.user_credential_name.errors.required">Public alias is required</div>
                    </div>
                    <small id="user_credential_name_help" class="form-text text-muted">Please enter an alias that will be displayed on things you created.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-md-1 col-form-label">Password: </label>
                <div class="col-md-4">
                    <input id="password" type="password" class="form-control" aria-describedby="password_help" placeholder="Enter password"
                           formControlName="password" [ngClass]="{'is-invalid': isItemFormSubmitted && fC.password.errors}">
                    <div class="invalid-feedback" *ngIf="isItemFormSubmitted && fC.password.errors">
                        <div *ngIf="fC.password.errors.required">Password is required</div>
                    </div>
                    <small id="password_help" class="form-text text-muted">Please enter an strong password.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="college_id" class="col-md-2 col-form-label">College/ Organization: </label>
                <div class="col-md-4">
                    <select id="college_id" class="custom-select" aria-describedby="college_id_help"
                            formControlName="college_id">
                        <option *ngFor="let college of collegeList"
                                [value]="college.college_id"
                                [selected]="college.college_id == itemData.college_id">
                            {{college.college_name}}
                        </option>
                    </select>
                    <small id="college_id_help" class="form-text text-muted">This is used to determine what features are available to this user.</small>
                </div>
                <label for="user_type_id" class="col-md-2 col-form-label">User Type: </label>
                <div class="col-md-4">
                    <select id="user_type_id" class="custom-select" aria-describedby="user_type_id_help"
                            formControlName="user_type_id">
                        <option *ngFor="let userType of userTypeList"
                                [value]="userType.user_type_id"
                                [selected]="userType.user_type_id == itemData.user_type_id">
                            {{userType.user_type_label}}
                        </option>
                    </select>
                    <small id="user_type_id_help" class="form-text text-muted">This is used to determine what features are available to this user.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-md-1 col-form-label">First Name: </label>
                <div class="col-md-3">
                    <input id="first_name" type="text" class="form-control" aria-describedby="first_name_help" placeholder="Enter first name"
                           formControlName="first_name" [ngClass]="{'is-invalid': isItemFormSubmitted && fC.first_name.errors}">
                    <div class="invalid-feedback" *ngIf="isItemFormSubmitted && fC.first_name.errors">
                        <div *ngIf="fC.first_name.errors.required">Password is required</div>
                    </div>
                    <small id="first_name_help" class="form-text text-muted">Please enter first_name.</small>
                </div>
                <label for="middle_name" class="col-md-1 col-form-label">Middle Name: </label>
                <div class="col-md-3">
                    <input id="middle_name" type="text" class="form-control" aria-describedby="middle_name_help" placeholder="Enter middle name"
                           formControlName="middle_name" [ngClass]="{'is-invalid': isItemFormSubmitted && fC.middle_name.errors}">
                    <div class="invalid-feedback" *ngIf="isItemFormSubmitted && fC.middle_name.errors">
                        <div *ngIf="fC.middle_name.errors.required">Password is required</div>
                    </div>
                    <small id="middle_name_help" class="form-text text-muted">Please enter middle name.</small>
                </div>
                <label for="last_name" class="col-md-1 col-form-label">Last Name: </label>
                <div class="col-md-3">
                    <input id="last_name" type="text" class="form-control" aria-describedby="last_name_help" placeholder="Enter last name"
                           formControlName="last_name" [ngClass]="{'is-invalid': isItemFormSubmitted && fC.last_name.errors}">
                    <div class="invalid-feedback" *ngIf="isItemFormSubmitted && fC.last_name.errors">
                        <div *ngIf="fC.last_name.errors.required">Password is required</div>
                    </div>
                    <small id="last_name_help" class="form-text text-muted">Please enter last name.</small>
                </div>
            </div>
        </form>
    </div>
</div>
