<div class="about-us-page-container container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="fas fa-users fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>About Us Page Template</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to modify the some contents of the <strong>About Us</strong> page.
                </small>
            </div>
        </div>
        <div class="right-area">
            <button class="btn site-btn-primary-outline" (click)="pageEditorUpdateEvent()">
                <i class="far fa-save"></i> Save Changes
            </button>
            <button class="btn btn-primary" (click)="previewPage()">
                <i class="far fa-eye"></i> Preview Page
            </button>
        </div>
    </div>
    <div class="about-us-details-container">
        <form [formGroup]="aboutUsForm">
            <section class="section-group">
                <strong class="section-title">About the National University Student Government</strong>
                <div class="form-group row">
                    <label for="vision" class="col-md-2 col-form-label">Vision: </label>
                    <div class="col-md-12">
                        <ckeditor id="vision" aria-describedby="vision_help" formControlName="vision"
                                  [editor]="visionEditor" [data]="aboutUsData.vision" [config]="visionEditorConfig"
                                  (ready)="onVisionEditorReady($event)" (change)="onMainContentChange($event)"></ckeditor>
                        <small id="vision_help" class="form-text text-muted">Kindly enter your organizational vision.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mission" class="col-md-2 col-form-label">Mission: </label>
                    <div class="col-md-12">
                        <ckeditor id="mission" aria-describedby="mission_help" formControlName="mission"
                                  [editor]="missionEditor" [data]="aboutUsData.mission" [config]="missionEditorConfig"
                                  (ready)="onMissionEditorReady($event)" (change)="onMainContentChange($event)"></ckeditor>
                        <small id="mission_help" class="form-text text-muted">Kindly enter your organizational mission.</small>
                    </div>
                </div>
            </section>
            <section class="section-group">
               <strong class="section-title">Know Our Organization Chart</strong>
                <div class="form-group row">
                    <label for="organizational_chart" class="col-md-2 col-form-label">Organizational Chart: </label>
                    <div class="col-md-12">
                        <app-file-drag-and-drop id="organizational_chart" aria-describedby="organizational_chart_help" formControlName="organizational_chart"
                                                [initialFiles]="aboutUsData.organizational_chart" [folder]="'page_banner_images'"></app-file-drag-and-drop>
                        <small id="organizational_chart_help" class="form-text text-muted">This will be displayed in the organizational chart section.</small>
                    </div>
                </div>
            </section>
            <section class="section-group">
                <strong class="section-title">Our Officers</strong>
                <div class="form-group row">
                    <label for="officers" class="col-md-12 col-form-label">Officers: </label>
                    <div class="col-md-12">
                        <ckeditor id="officers" aria-describedby="officers_help" formControlName="officers"
                                  [editor]="officersEditor" [data]="aboutUsData.officers" [config]="officersEditorConfig"
                                  (ready)="onOfficersEditorReady($event)" (change)="onMainContentChange($event)"></ckeditor>
                        <small id="officers_help" class="form-text text-muted">This will be displayed in the officers section.</small>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
