<div class="contact-us-page-container container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="fas fa-id-card fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>Contact Us Page Template</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to modify some contents of the <strong>Contact Us</strong> page.
                </small>
            </div>
        </div>
        <div class="right-area">
            <button class="btn site-btn-primary-outline" (click)="pageEditorUpdateEvent()">
                <i class="far fa-save"></i> Save Changes
            </button>
            <button class="btn btn-primary" (click)="previewPage()">
                <i class="far fa-eye"></i> Preview Page
            </button>
        </div>
    </div>
    <div class="contact-us-details-container">
        <form [formGroup]="contactUsForm">
            <section class="section-group">
                <strong class="section-title">Email Accounts</strong>
                <div class="form-group row">
                    <label for="email1" class="col-md-2 col-form-label">Email 1: </label>
                    <div class="col-md-12">
                        <input type="text" id="email1" class="form-control" formControlName="email1" aria-describedby="email1_help">
                        <small id="email1_help" class="form-text text-muted">Kindly enter your main email.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email2" class="col-md-2 col-form-label">Email 2: </label>
                    <div class="col-md-12">
                        <input type="text" id="email2" class="form-control" formControlName="email2" aria-describedby="email2_help">
                        <small id="email2_help" class="form-text text-muted">Kindly enter your secondary email.</small>
                    </div>
                </div>
            </section>
            <section class="section-group">
               <strong class="section-title">Social Media </strong>
                <div class="form-group row">
                    <label for="facebook" class="col-md-2 col-form-label">Facebook: </label>
                    <div class="col-md-12">
                        <input type="text" id="facebook" class="form-control" formControlName="facebook" aria-describedby="facebook_help">
                        <small id="facebook_help" class="form-text text-muted">Kindly enter your facebook account link.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="twitter" class="col-md-2 col-form-label">Twitter: </label>
                    <div class="col-md-12">
                        <input type="text" id="twitter" class="form-control" formControlName="twitter" aria-describedby="twitter_help">
                        <small id="twitter_help" class="form-text text-muted">Kindly enter your twitter account link.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="instagram" class="col-md-2 col-form-label">Instagram: </label>
                    <div class="col-md-12">
                        <input type="text" id="instagram" class="form-control" formControlName="instagram" aria-describedby="instagram_help">
                        <small id="instagram_help" class="form-text text-muted">Kindly enter your instagram account link.</small>
                    </div>
                </div>
            </section>
            <section class="section-group">
                <strong class="section-title">Address</strong>
                <div class="form-group row">
                    <label for="address1" class="col-md-12 col-form-label">Address Line 1: </label>
                    <div class="col-md-12">
                        <input type="text" id="address1" class="form-control" formControlName="address1" aria-describedby="address1_help">
                        <small id="address1_help" class="form-text text-muted">This will be displayed as your 1st address line.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address2" class="col-md-12 col-form-label">Address Line 2: </label>
                    <div class="col-md-12">
                        <input type="text" id="address2" class="form-control" formControlName="address2" aria-describedby="address2_help">
                        <small id="address2_help" class="form-text text-muted">This will be displayed as your 2nd address line.</small>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
