@import "../../../variables.less";
.login-register-container {
    background-color: @themeColorBlue;
    .login-container {
        padding: 1.5rem;
    }
    .register-now-container {
        background: @themeColorGold;
        color: @secondaryTxtColorWhite;
        padding: 3rem 0;
        h2 {
            color: @secondaryTxtColorWhite;
        }
    }
}
