<div class="resolutions-page-container container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-file-word fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>Resolutions List</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to to manage your <strong>Resolutions</strong> page.
                </small>
            </div>
        </div>
        <div class="right-area">
            <button class="btn site-btn-primary-outline" routerLink="/resolutions/create">
                <i class="far fa-plus-square"></i> Add Resolutions
            </button>
            <button class="btn btn-primary" (click)="previewPage()">
                <i class="far fa-eye"></i> Preview Page
            </button>
        </div>
    </div>
    <div class="resolutions-list-container">
        <ngx-datatable
                class="material"
                rowHeight="auto"
                [rows]="resolutionsListData"
                [limit]="10"
                [columnMode]="ColumnMode.force"
                [loadingIndicator]="isResolutionsListLoading"
                [reorderable]="true"
                [headerHeight]="50"
                [footerHeight]="50"
                [selected]="pageSelected"
                [selectionType]="SelectionType.single"
                (activate)="onResolutionListHover($event)"
                (select)="onResolutionListSelect($event)"
        >
            <ngx-datatable-column name="Resolution Title" prop="resolution_title">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ value }}</strong>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Resolution Description" prop="resolution_description">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <span>{{ value }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Uploaded By" prop="uploaded_by">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i [innerHTML]="row['uploaded_by']"></i>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Uploaded At" prop="uploaded_at">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i [innerHTML]="row['uploaded_at']"></i>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
