<div class="event-category-item-page-container  container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-file-word fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>{{pageTitle}}</span>
                <small style="display: block;" class="text-secondary" [innerHTML]="pageSubtitle"></small>
            </div>
        </div>
        <div class="right-area">
            <ng-template [ngIf]="!IDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="itemCreateEvent()">
                    <i class="fas fa-plus-square"></i> {{pageCreateButtonText}}
                </button>
                <button class="btn btn-warning" (click)="resetForms()">
                    <i class="fas fa-eraser"></i> Reset Form
                </button>
                <button class="btn btn-danger" routerLink="'/event-category'">
                    <i class="far fa-window-close"></i> Cancel
                </button>
            </ng-template>
            <ng-template [ngIf]="IDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="itemUpdateEvent()">
                    <i class="far fa-save"></i> Save Changes
                </button>
                <button class="btn btn-danger" (click)="itemDeleteEvent()">
                    <i class="far fa-trash-alt"></i> {{pageDeleteButtonText}}
                </button>
            </ng-template>
        </div>
    </div>
    <div class="event-category-item-container">
        <form [formGroup]="itemForm">
            <div class="form-group row">
                <label for="event_category_name" class="col-md-2 col-form-label">Event Category Name: </label>
                <div class="col-md-10">
                    <input id="event_category_name" type="text" class="form-control" aria-describedby="event_category_name_help" placeholder="Enter event category name"
                           formControlName="event_category_name" [ngClass]="{'is-invalid': isItemFormSubmitted && fC.event_category_name.errors}">
                    <div class="invalid-feedback" *ngIf="isItemFormSubmitted && fC.event_category_name.errors">
                        <div *ngIf="fC.event_category_name.errors.required">Event Category Name is required</div>
                    </div>
                    <small id="event_category_name_help" class="form-text text-muted">Please enter the event category name.</small>
                </div>
            </div>
        </form>
    </div>
</div>
