<div class="user-list-page-container container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-file-word fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>User List</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to to manage your <strong>Users</strong>.
                </small>
            </div>
        </div>
        <div class="right-area">
            <button class="btn site-btn-primary-outline" routerLink="/users/create">
                <i class="far fa-plus-square"></i> Register User
            </button>
        </div>
    </div>
    <div class="user-list-container">
        <ngx-datatable
                class="material"
                rowHeight="auto"
                [rows]="listData"
                [limit]="10"
                [columnMode]="ColumnMode.force"
                [loadingIndicator]="isListLoading"
                [reorderable]="true"
                [headerHeight]="50"
                [footerHeight]="50"
                [selected]="pageSelected"
                [selectionType]="SelectionType.single"
                (activate)="onListHover($event)"
                (select)="onListSelect($event)"
        >
            <ngx-datatable-column name="Full Name" prop="full_name">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ value }}</strong>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Alias" prop="user_credential_name">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <span>{{ value }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="User Type" prop="user_type_label">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i [innerHTML]="row['user_type_label']"></i>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span [innerHTML]="row['email']"></span>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
