<div class="resolution-item-page-container  container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-file-word fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>Resolution</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to to manage a specific <strong>Resolution</strong>.
                </small>
            </div>
        </div>
        <div class="right-area">
            <ng-template [ngIf]="!resolutionIDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="resolutionItemCreateEvent()">
                    <i class="fas fa-plus-square"></i> Create Resolution
                </button>
                <button class="btn btn-warning" (click)="resetForms()">
                    <i class="fas fa-eraser"></i> Reset Form
                </button>
                <button class="btn btn-danger">
                    <i class="far fa-window-close"></i> Cancel
                </button>
            </ng-template>
            <ng-template [ngIf]="resolutionIDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="resolutionItemUpdateEvent()">
                    <i class="far fa-save"></i> Save Changes
                </button>
                <button class="btn btn-primary" (click)="previewPage()">
                    <i class="far fa-eye"></i> Preview Resolution
                </button>
                <button class="btn btn-danger" (click)="resolutionItemDeleteEvent()">
                    <i class="far fa-trash-alt"></i> Delete Resolution
                </button>
            </ng-template>
        </div>
    </div>
    <div class="resolutions-item-container">
        <form [formGroup]="resolutionItemForm">
            <div class="form-group row">
                <label for="resolution_title" class="col-md-2 col-form-label">Resolution Title: </label>
                <div class="col-md-10">
                    <input id="resolution_title" type="text" class="form-control" aria-describedby="resolution_title_help" placeholder="Enter resolution title"
                           formControlName="resolution_title" [ngClass]="{'is-invalid': isResolutionItemFormSubmitted && fC.resolution_title.errors}">
                    <div class="invalid-feedback" *ngIf="isResolutionItemFormSubmitted && fC.resolution_title.errors">
                        <div *ngIf="fC.resolution_title.errors.required">Resolution Title is required</div>
                    </div>
                    <small id="resolution_title_help" class="form-text text-muted">Please enter the resolution title.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="resolution_description" class="col-md-2 col-form-label">Resolution Description: </label>
                <div class="col-md-10">
                    <textarea id="resolution_description" class="form-control" aria-describedby="resolution_description_help" placeholder="Enter description"
                              formControlName="resolution_description">{{resolutionItemData?.resolution_description}}</textarea>
                    <div class="invalid-feedback" *ngIf="isResolutionItemFormSubmitted && fC.resolution_description.errors">
                        <div *ngIf="fC.resolution_description.errors.required">Resolution Description is required</div>
                    </div>
                    <small id="resolution_description_help" class="form-text text-muted">Describe the content or purpose of this resolution.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="resolution_url" class="col-md-2 col-form-label">Resolution URL: </label>
                <div class="col-md-10">
                    <app-file-drag-and-drop id="resolution_url" aria-describedby="resolution_url_help" formControlName="resolution_url"
                                            [initialFiles]="resolutionItemData.resolution_url" [folder]="'resolutions'" [uploadType]="'resolutions'"
                                            [ngClass]="{'is-invalid': isResolutionItemFormSubmitted && fC.resolution_url.errors}"></app-file-drag-and-drop>
                    <div class="invalid-feedback" *ngIf="isResolutionItemFormSubmitted && fC.resolution_url.errors">
                        <div *ngIf="fC.resolution_url.errors.required">Resolution URL is required</div>
                    </div>
                    <small id="resolution_url_help" class="form-text text-muted">Upload resolution file.</small>
                </div>
            </div>
        </form>
    </div>
</div>
