<div class="college-item-page-container container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-file-word fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>College</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to to manage a specific <strong>College</strong>.
                </small>
            </div>
        </div>
        <div class="right-area">
            <ng-template [ngIf]="!collegeIDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="collegeItemCreateEvent()">
                    <i class="fas fa-plus-square"></i> Create College
                </button>
                <button class="btn btn-warning" (click)="resetForms()">
                    <i class="fas fa-eraser"></i> Reset Form
                </button>
                <button class="btn btn-danger">
                    <i class="far fa-window-close"></i> Cancel
                </button>
            </ng-template>
            <ng-template [ngIf]="collegeIDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="collegeItemUpdateEvent()">
                    <i class="far fa-save"></i> Save Changes
                </button>
                <button class="btn btn-primary" (click)="previewPage()">
                    <i class="far fa-eye"></i> Preview Page
                </button>
                <button class="btn btn-danger" (click)="collegeItemDeleteEvent()">
                    <i class="far fa-trash-alt"></i> Delete College
                </button>
            </ng-template>
        </div>
    </div>
    <div class="college-item-container">
        <form [formGroup]="collegeItemForm">
            <div class="form-group row">
                <label for="college_name" class="col-md-2 col-form-label">College Name: </label>
                <div class="col-md-10">
                    <input id="college_name" type="text" class="form-control" aria-describedby="college_name_help" placeholder="Enter college name"
                           formControlName="college_name" [ngClass]="{'is-invalid': isCollegeItemFormSubmitted && fC.college_name.errors}">
                    <div class="invalid-feedback" *ngIf="isCollegeItemFormSubmitted && fC.college_name.errors">
                        <div *ngIf="fC.college_name.errors.required">College Name is required</div>
                    </div>
                    <small id="college_name_help" class="form-text text-muted">Please enter the college name.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="college_description" class="col-form-label col-md-2">College Description: </label>
                <div class="col-md-10">
                    <ckeditor id="college_description" aria-describedby="college_description_help" formControlName="college_description"
                              [editor]="collegeDescriptionEditor" [data]="collegeItemData.college_description" [config]="collegeDescriptionEditorConfig"
                              (ready)="onCollegeDescriptionReady($event)" (change)="onMainContentChange($event)"></ckeditor>
                </div>
            </div>
            <div class="form-group row">
                <label for="college_logo" class="col-md-2 col-form-label">College Logo: </label>
                <div class="col-md-10">
                    <app-file-drag-and-drop id="college_logo" aria-describedby="college_logo_help" formControlName="college_logo"
                                            [initialFiles]="collegeItemData.college_logo" [folder]="'colleges'"
                                            [maxItem]="1"
                                            [ngClass]="{'is-invalid': isCollegeItemFormSubmitted && fC.college_logo.errors}"></app-file-drag-and-drop>
                    <div class="invalid-feedback" *ngIf="isCollegeItemFormSubmitted && fC.college_logo.errors">
                        <div *ngIf="fC.college_logo.errors.required">College Logo is required</div>
                    </div>
                    <small id="college_logo_help" class="form-text text-muted">Upload college logo.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="college_courses_offered" class="col-md-2 col-form-label">Courses Offered PDF: </label>
                <div class="col-md-10">
                    <app-file-drag-and-drop id="college_courses_offered" aria-describedby="college_courses_offered_help" formControlName="college_courses_offered"
                                            [initialFiles]="collegeItemData.college_courses_offered" [folder]="'college_courses_offered'" [uploadType]="'college_courses_offered'"
                                            [ngClass]="{'is-invalid': isCollegeItemFormSubmitted && fC.college_courses_offered.errors}"></app-file-drag-and-drop>
                    <div class="invalid-feedback" *ngIf="isCollegeItemFormSubmitted && fC.college_courses_offered.errors">
                        <div *ngIf="fC.college_courses_offered.errors.required">College Courses PDF is required</div>
                    </div>
                    <small id="resolution_url_help" class="form-text text-muted">Upload college courses PDF file.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="college_facebook_url" class="col-md-2 col-form-label">College Facebook URL: </label>
                <div class="col-md-10">
                    <input id="college_facebook_url" type="text" class="form-control" aria-describedby="college_facebook_url_help" placeholder="Enter college facebook url"
                           formControlName="college_facebook_url" [ngClass]="{'is-invalid': isCollegeItemFormSubmitted && fC.college_facebook_url.errors}">
                    <div class="invalid-feedback" *ngIf="isCollegeItemFormSubmitted && fC.college_facebook_url.errors">
                        <div *ngIf="fC.college_facebook_url.errors.required">College Facebook URL is required</div>
                    </div>
                    <small id="college_facebook_url_help" class="form-text text-muted">Please enter the college facebook URL (example: <a href="https://www.facebook.com/NationalUPhilippines">https://www.facebook.com/NationalUPhilippines</a>).</small>
                </div>
            </div>
        </form>
    </div>
</div>
