<div class="comp-dashboard-container" style="text-align: center; padding: 20px; height: calc(100vh - 56px);">
    <div class="greeting-message">
        <h2 style="display: block;">
            Welcome to National University Student Government
        </h2>
        <h3>Site Management System</h3>
    </div>
    <img src="/assets/img/logo_485x485.png" style="max-width: 100%; height: calc(100% - 200px);">
</div>
