<div class="college-list-container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-newspaper fa-lg toolbar-icon"></i>
            <i class="far fa-newspaper fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>Colleges</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to manage the <strong>Colleges</strong> that will appear on the colleges link.
                </small>
            </div>
        </div>
        <div class="right-area">
            <ng-template [ngIf]="true">
                <button class="btn site-btn-primary-outline" routerLink="/colleges/create">
                    <i class="fas fa-plus-square"></i> Add New College
                </button>
                <button class="btn btn-primary" (click)="previewPage()">
                    <i class="far fa-eye"></i> Preview Page
                </button>
            </ng-template>
        </div>
    </div>

    <ngx-datatable
            class="material"
            rowHeight="auto"
            [rows]="collegeListData"
            [limit]="10"
            [columnMode]="ColumnMode.force"
            [loadingIndicator]="isCollegeListLoading"
            [reorderable]="true"
            [headerHeight]="50"
            [footerHeight]="50"
            [selected]="collegeSelected"
            [selectionType]="SelectionType.single"
            (activate)="onCollegeListHover($event)"
            (select)="onCollegeListSelect($event)"
    >
        <ngx-datatable-column name="College Logo" prop="college_logo_url" [maxWidth]="150">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <img [src]="value" style="height: 50px; width: 50px;">
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="College Name" prop="college_name">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
