<div class="event-category-list-page-container container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-file-word fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>Event Category List</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to to manage your <strong>Event Categories</strong>.
                </small>
            </div>
        </div>
        <div class="right-area">
            <button class="btn site-btn-primary-outline" routerLink="/event-category/create">
                <i class="far fa-plus-square"></i> Add Event Category
            </button>
        </div>
    </div>
    <div class="event-category-list-container">
        <ngx-datatable
                class="material"
                rowHeight="auto"
                [rows]="listData"
                [limit]="10"
                [columnMode]="ColumnMode.force"
                [loadingIndicator]="isListLoading"
                [reorderable]="true"
                [headerHeight]="50"
                [footerHeight]="50"
                [selected]="pageSelected"
                [selectionType]="SelectionType.single"
                (activate)="onListHover($event)"
                (select)="onListSelect($event)"
        >
            <ngx-datatable-column name="Event Category Name" prop="event_category_name">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">{{ column.name }}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ value }}</strong>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
