<div class="row h-100 d-flex align-items-center login-register-container">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10 mx-auto">
                    <div class="card-group">
                        <div class="card login-container">
                            <div class="card-body">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>
<!--                                <formio [form]="formTemplateSchema" (submit)="onSubmit($event)"></formio>-->
                                <form [formGroup]="loginForm" (submit)="submitLoginForm()">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                                            </div>
                                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" placeholder="email@example.com">
                                        </div>
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" class="form-control" id="password" formControlName="password" placeholder="******">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-lg site-btn-primary-outline w-100 mt-2">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="card register-now-container" style="width:44%">
                            <div class="card-body text-center">
                                <div style="margin-top: 60px;">
                                    <h2>No Account Yet?</h2>
                                    <p>Ask National University Student Government officers to make you one.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
