@import "../../variables.less";
.about-us-page-container {
    padding: 1rem;
    .about-us-details-container {
        padding: 1rem;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        border-color: @secondaryBorderColor;
        background-color: @primaryBackgroundColor;
        -webkit-box-shadow: 0px 5px 20px -10px rgba(181,181,181,1);
        -moz-box-shadow: 0px 5px 20px -10px rgba(181,181,181,1);
        box-shadow: 0px 5px 20px -10px rgba(181,181,181,1);
    }
    .section-group {
        margin: 20px 5px;
        padding: 10px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 5px;
        .section-title {
            position: absolute;
            top: -20px;
            left: 10px;
            padding: 5px;
            background-color: #FFFFFF;
            font-size: 17px;
        }
    }
}
