.toolbar {
    position: relative;
    padding: 0.3rem 0.5rem;
    margin: 0 0 1rem 0;
    background-color: @primaryBackgroundColor;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: @secondaryBorderColor;
    -webkit-box-shadow: 2px 2px 30px -10px rgba(181,181,181,1);
    -moz-box-shadow: 2px 2px 30px -10px rgba(181,181,181,1);
    box-shadow: 2px 2px 30px -10px rgba(181,181,181,1);

    .left-area {
        float: left;
        margin: 0.5rem;

        .toolbar-icon {
            position:absolute;
            top: 22px;
            font-size: 2rem;
        }

        .toolbar-title {
            display: inline-block;
            margin-left: 3rem;
            span {
                font-size: 1.25rem;
            }
        }
    }

    .right-area {
        float: right;
        padding: 0.7rem;
        button {
            margin-right: 1rem;
        }
    }
}
