@import '../../../themes/ngx-datatable/bootstrap.css';
@import '../../../themes/ngx-datatable/material.css';

.resolutions-page-container {
    padding: 1rem;
    .section-group {
        margin: 20px 5px;
        padding: 10px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 5px;
        .section-title {
            position: absolute;
            top: -20px;
            left: 10px;
            padding: 5px;
            background-color: #FFFFFF;
            font-size: 17px;
        }
    }
}
