<div class="page-details-container container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-newspaper fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>Page {{!pageIDFromRoute ? 'Creator' : 'Editor'}}</span>
                <small style="display: block;" class="text-secondary">
                    <ng-template [ngIf]="!pageIDFromRoute">
                        Create Page
                    </ng-template>
                    <ng-template [ngIf]="pageIDFromRoute">
                        ({{pageIDFromRoute}} : {{pageDetailsData?.page_name}})
                    </ng-template>
                </small>
            </div>
        </div>
        <div class="right-area">
            <ng-template [ngIf]="!pageIDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="pageCreatorCreateEvent()">
                    <i class="fas fa-plus-square"></i> Create Page
                </button>
                <button class="btn btn-warning" (click)="resetForms()">
                    <i class="fas fa-eraser"></i> Reset Form
                </button>
                <button class="btn btn-danger" (click)="goBackToPageList()">
                    <i class="far fa-window-close"></i> Cancel
                </button>
            </ng-template>
            <ng-template [ngIf]="pageIDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="pageEditorUpdateEvent()">
                    <i class="far fa-save"></i> Save Changes
                </button>
                <button class="btn btn-primary" (click)="previewPage()">
                    <i class="far fa-eye"></i> Preview Page
                </button>
                <button class="btn btn-danger" (click)="pageEditorDeleteEvent()" title="This is disabled. Only the programmer can delete pages for now.">
                    <i class="far fa-trash-alt"></i> Delete Page
                </button>
            </ng-template>
        </div>
    </div>
    <div>
        <tabset [justified]="true">
            <tab *ngFor="let tab of tabs"
                 [heading]="tab.title"
                 [active]="tab.active"
                 (selectTab)="tab.active = true"
                 (deselect)="tab.active = false"
                 [disabled]="tab.disabled"
                 [removable]="tab.removable"
                 [customClass]="tab.customClass">
                <ng-container *ngIf="tab?.content == 'pageDetails'" [ngTemplateOutlet]="pageDetails"></ng-container>
                <ng-container *ngIf="tab?.content == 'pageContent'" [ngTemplateOutlet]="pageContent"></ng-container>
            </tab>
        </tabset>
    </div>
</div>

<ng-template #pageDetails>
    <div class="page-details-tab-container">
        <form [formGroup]="pageDetailsForm">
            <div class="row page_id_container">
                <label for="page_id_inline" class="col-md-1">Page ID: </label>
                <span id="page_id_inline" class="col-md-1">{{pageIDFromRoute}}</span>
            </div>
            <div class="form-group row">
                <label for="page_name_inline" class="col-md-2 col-form-label">Page Name: </label>
                <div class="col-md-4">
                    <input id="page_name_inline" type="text" class="form-control" aria-describedby="page_name_inline_help" placeholder="Enter page name"
                           formControlName="page_name">
                    <small id="page_name_inline_help" class="form-text text-muted">Kindly enter your desired name of the page.</small>
                </div>
                <label for="page_url_inline" class="col-md-1 offset-md-1 col-form-label" style="visibility: hidden;">Page URL: </label>
                <div class="col-md-3" style="visibility: hidden;">
                    <input id="page_url_inline" type="text" class="form-control" aria-describedby="page_url_inline_help" placeholder="/page_url"
                           formControlName="page_url">
                    <small id="page_url_inline_help" class="form-text text-muted">This url will be appended with the public site domain.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="page_description_inline" class="col-md-2 col-form-label">Page Description: </label>
                <div class="col-md-9">
                    <textarea id="page_description_inline" class="form-control" aria-describedby="page_description_inline_help" placeholder="Enter page description"
                              formControlName="page_description">{{pageDetailsData?.page_description}}</textarea>
                    <small id="page_description_inline_help" class="form-text text-muted">This will appear as details for the event grid carousel.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="college_id_inline" class="col-md-2 col-form-label">College/Organization: </label>
                <div class="col-md-4">
                    <strong id="college_id_inline"
                            style="margin-top: 5px;
                                display: inline-block;
                                font-size: 16px;"
                    >{{collegeName}}</strong>
<!--                    <select id="college_id_inline" class="custom-select" aria-describedby="college_id_inline_help"-->
<!--                            formControlName="college_id">-->
<!--                        <option *ngFor="let college of collegeList"-->
<!--                                [value]="college.college_id"-->
<!--                                [selected]="college.college_id == pageDetailsData.college_id"-->
<!--                        >{{college.college_name}}</option>-->
<!--                    </select>-->
                    <small id="college_id_inline_help" class="form-text text-muted">This is used for categorizing events.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="page_category_code_inline" class="col-md-2 col-form-label">Page Category: </label>
                <div class="col-md-4">
                    <select id="page_category_code_inline" class="custom-select" aria-describedby="page_category_code_inline_help"
                            formControlName="page_category_code" (change)="pageCategoryChange($event)">
                        <option *ngFor="let pageCategory of pageCategories"
                                [value]="pageCategory.page_category_code"
                                [selected]="pageCategory.page_category_code == pageDetailsData.page_category_code"
                        >{{pageCategory.page_category_name}}</option>
                    </select>
                    <small id="page_category_code_inline_help" class="form-text text-muted">This is used for page grouping and filtering of available templates.</small>
                </div>

                <label for="template_code_inline" class="col-md-1 offset-md-1 col-form-label">Template: </label>
                <div class="col-md-3">
                    <select id="template_code_inline" class="custom-select" aria-describedby="template_code_inline_help"
                            formControlName="template_code">
                        <option *ngFor="let pageTemplate of pageTemplateList"
                                [value]="pageTemplate.template_code"
                                [selected]="pageTemplate.template_code == pageDetailsData.template_code">
                            {{pageTemplate.template_name}}
                        </option>
                    </select>
                    <small id="template_code_inline_help" class="form-text text-muted">This is used to determine what contents are available and how it will be rendered.</small>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #pageContent>
    <div class="page-details-tab-container">
        <form [formGroup]="pageContentForm">
            <div class="form-group row">
                <label for="event_name" class="col-md-2 col-form-label">Event Name: </label>
                <div class="col-md-5">
                    <input id="event_name" type="text" class="form-control" aria-describedby="event_name_help" placeholder="Enter event name"
                           formControlName="event_name" [ngClass]="{'is-invalid': isPageSubmitted && pC.event_name.errors}">
                    <div class="invalid-feedback" *ngIf="isPageSubmitted && pC.event_name.errors">
                        <div *ngIf="pC.event_name.errors.required">Event Name is required</div>
                    </div>
                    <small id="event_name_help" class="form-text text-muted">Kindly enter the name of event.</small>
                </div>
                <label for="event_date" class="col-md-1 col-form-label">Date: </label>
                <div class="col-md-3">
                    <input id="event_date" type="text" class="form-control" aria-describedby="event_date_help" placeholder="Event date"
                           formControlName="event_date" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD h:mm:ss' }"
                           [ngClass]="{'is-invalid': isPageSubmitted && pC.event_date.errors}">
                    <div class="invalid-feedback" *ngIf="isPageSubmitted && pC.event_date.errors">
                        <div *ngIf="pC.event_date.errors.required">Event Date is required</div>
                    </div>
                    <small id="event_date_help" class="form-text text-muted">When did this event happened?</small>
                </div>
            </div>
            <div class="form-group row" *ngIf="enabledFormControls.event_category">
                <label for="page_category_code_inline" class="col-md-2 col-form-label">Category: </label>
                <div class="col-md-4">
                    <select id="event_category" class="custom-select" aria-describedby="event_category_help"
                            formControlName="event_category" [ngClass]="{'is-invalid': isPageSubmitted && pC.event_category.errors}">
                        <option *ngFor="let eventCategory of eventCategories"
                                [value]="eventCategory.event_category_id"
                                [selected]="eventCategory.event_category_id == pageContentData.event_category"
                        >{{eventCategory.event_category_name}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="isPageSubmitted && pC.event_category.errors">
                        <div *ngIf="pC.event_category.errors.required">Category is required</div>
                    </div>
                    <small id="event_category_help" class="form-text text-muted">This will be used for event categorization.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="event_content" class="col-md-12 col-form-label">Event Content: </label>
                <div class="col-md-12">
                    <ckeditor id="event_content" aria-describedby="event_content_help" formControlName="event_content"
                        [editor]="eventContentEditor" [data]="pageContentData.event_content" [config]="eventContentEditorConfig"
                        (ready)="onEventContentEditorReady($event)" (change)="onMainContentChange($event)"
                        [ngClass]="{'is-invalid': isPageSubmitted && pC.event_content.errors}"></ckeditor>
                    <div class="invalid-feedback" *ngIf="isPageSubmitted && pC.event_content.errors">
                        <div *ngIf="pC.event_content.errors.required">Event Content are required</div>
                    </div>
                    <small id="event_content_help" class="form-text text-muted">This will used as content of the page.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="event_images" class="col-md-2 col-form-label">Gallery: </label>
                <div class="col-md-10">
                    <app-file-drag-and-drop id="event_images" aria-describedby="event_images_help" formControlName="event_images"
                                            [initialFiles]="pageContentData.event_images" [folder]="'page_banner_images'"
                                            [ngClass]="{'is-invalid': isPageSubmitted && pC.event_images.errors}"></app-file-drag-and-drop>
                    <div class="invalid-feedback" *ngIf="isPageSubmitted && pC.event_images.errors">
                        <div *ngIf="pC.event_images.errors.required">Event Images are required</div>
                    </div>
                    <small id="event_images_help" class="form-text text-muted">This will be used for the gallery at the bottom of the page.</small>
                </div>
            </div>

            <div class="form-group row" *ngIf="enabledFormControls.sponsors_partners">
                <label for="sponsors_partners" class="col-md-2 col-form-label">Sponsors/Partners: </label>
                <div class="col-md-10">
                    <app-file-drag-and-drop id="sponsors_partners" aria-describedby="sponsors_partners_help" formControlName="sponsors_partners"
                                            [initialFiles]="pageContentData.sponsors_partners" [folder]="'page_banner_images'"
                                            [ngClass]="{'is-invalid': isPageSubmitted && pC.event_images.errors}"></app-file-drag-and-drop>
                    <div class="invalid-feedback" *ngIf="isPageSubmitted && pC.sponsors_partners.errors">
                        <div *ngIf="pC.sponsors_partners.errors.required">Sponsors/Partners are required</div>
                    </div>
                    <small id="sponsors_partners_help" class="form-text text-muted">This will be used for the sponsors/partners section.</small>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<div class="container">

</div>

