a, button {
    &.site-btn-primary-outline {
        background-color: @themeColorBlue !important;
        color: @secondaryTxtColorWhite !important;
        border-color: @primaryBorderColor !important;
        padding: 0.5rem 1.5rem;
    }
}
