<div class="container-fluid p-0 h-100 site-container">
    <ng-template
        [ngIf]="showHeader">
        <div class="row no-gutters">
            <div class="col">
                <app-header
                    [items]="items"
                    (leftNavChangeEmitter)="toggleLeftNav($event)"></app-header>
            </div>
        </div>
    </ng-template>
    <div class="row no-gutters h-100">
        <ng-template [ngIf]="showNav">
            <div class="site-left-nav-container sticky-top flex-grow-1" [ngClass]="{'collapsed': isLeftNavCollapsed}">
                <app-left-nav [collapsed]="isLeftNavCollapsed"></app-left-nav>
            </div>
        </ng-template>
        <div class="col site-content-container" id="site_content_container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
