<div class="home-carousel-container container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="fab fa-slideshare fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>Home Page Banner</span>
                <small style="display: block;" class="text-secondary">
                    This page allows you to manage the <strong>sliders</strong> of the <strong>Home</strong> page.
                </small>
            </div>
        </div>
        <div class="right-area">
            <button class="btn site-btn-primary-outline" (click)="createCarouselItem()" *ngIf="showAddFormButton">
                <i class="fas fa-plus"></i> Create Banner Item
            </button>
            <button class="btn site-btn-primary-outline" (click)="saveCarouselItem()" *ngIf="showSaveFormButton">
                <i class="far fa-save"></i> Save Changes
            </button>
            <button class="btn btn-warning" (click)="setPageStates('listMode');" *ngIf="showCancelFormButton">
                <i class="far fa-window-close"></i> Cancel
            </button>
            <button class="btn btn-danger" (click)="deleteCarouselItem();" *ngIf="showDeleteFormButton">
                <i class="far fa-trash-alt"></i> Delete Banner Item
            </button>
            <button class="btn btn-primary" (click)="previewPage()" *ngIf="showPreviewPageButton">
                <i class="far fa-eye"></i> Preview Page
            </button>
        </div>
    </div>
    <div class="home-carousel-items-container">
        <div class="comp-slider-list">
            <div class="slider-item add-item" (click)="showCarouselItemAddForm()">
                <i class="fas fa-plus-circle add-icon"></i>
                <label class="item-name">Add Slide</label>
            </div>
            <ng-container *ngFor="let item of carouselItems; let i = index;">
                <div class="slider-item" [ngClass]="{'selected': i === selectedCarouselItemIndex}"
                     (click)="loadCarouselItem(i)">
                    <img class="item-preview-image" [src]="item.url[0].url">
                    <button class="btn btn-primary action-btn">Edit</button>
                    <label class="item-name">{{item.label}}</label>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="home-carousel-item-form-container" *ngIf="showCarouselItemFormFlag">
        <h2 class="form-title">{{formTitle}}</h2>
        <form [formGroup]="carouselItemForm">
            <div class="form-group row">
                <label for="label" class="col-md-2 col-form-label">Banner Label: </label>
                <div class="col-md-10">
                    <input id="label" type="text" class="form-control" aria-describedby="label_help" placeholder="Enter banner label"
                           formControlName="label" [ngClass]="{'is-invalid': isCarouselItemFormSubmitted && fC.label.errors}">
                    <div class="invalid-feedback" *ngIf="isCarouselItemFormSubmitted && fC.label.errors">
                        <div *ngIf="fC.label.errors.required">Banner Label is required</div>
                    </div>
                    <small id="label_help" class="form-text text-muted">Please provide a banner label.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="url" class="col-md-2 col-form-label">Banner Image: </label>
                <div class="col-md-10">
                    <app-file-drag-and-drop id="url" aria-describedby="url_help" formControlName="url"
                                            [initialFiles]="carouselItemFormData.url" [folder]="'banners'" [uploadType]="'images'" [maxItem]="1"
                                            [ngClass]="{'is-invalid': isCarouselItemFormSubmitted && fC.url.errors}"></app-file-drag-and-drop>
                    <div class="invalid-feedback" *ngIf="isCarouselItemFormSubmitted && fC.url.errors">
                        <div *ngIf="fC.url.errors.required">Banner Image is required</div>
                    </div>
                    <small id="url_help" class="form-text text-muted">Upload a banner image.</small>
                </div>
            </div>
        </form>
    </div>
</div>
