div.site-left-nav-container {
    max-width: 200px !important;
    -webkit-transition: max-width .3s, flex .3s;
    -moz-transition: max-width .3s, flex .3s;
    -ms-transition: max-width .3s, flex .3s;
    -o-transition: max-width .3s, flex .3s;
    transition: max-width .3s, flex .3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    width: 200px !important;
    height: ~"calc(100vh - 55px)";
    padding: 0.5rem 0.25rem;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    &.collapsed {
        max-width: 0 !important;
        flex: 0 !important;
    }

    .comp-left-nav-container {
        /* Accordion Overrides */
        .card, .card-header {
            border: none;
            background-color: #FFFFFF;
        }

        .card-header {
            &:hover {
                background-color: @themeColorBlue !important;
                color: @secondaryTxtColorWhite;
            }
        }

        .accordion-item {
            white-space: nowrap;
        }

        .panel-title, .panel-body, .card-block, .card-body {
            padding: 0;
            white-space: nowrap;
        }

        span[accordion-heading] {
            white-space: nowrap;
        }

        .nav-link-icon {
            padding-right: 1rem;
            width: 30px;
        }

        .accordion-item {
            display: block;
            color: @primaryTxtColor;
            padding: 0.75rem 1.25rem;
            text-decoration: none;
            &:hover {
                background-color: @themeColorBlue;
                color: @secondaryTxtColorWhite;
            }
        }
        // Accordion Child Item
        .accordion-child-item {
            display: block;
            padding: 0.75rem 2rem;
            color: @primaryTxtColor;
            &:hover {
                background-color: @themeColorBlue;
                color: @secondaryTxtColorWhite;
            }
        }
        /* Accordion Overrides */
    }
}
