@import '../../../../themes/ngx-datatable/bootstrap.css';
@import '../../../../themes/ngx-datatable/material.css';


.college-list-container {
    padding: 1rem;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
    background-color: #1483ff;
    color: #fff;
}
