@import "./base-mixins.less";
html, body {
    background-color: @primaryBackgroundColor;
    color: @primaryTxtColor;
    font-family: @primaryFontFamily;
    font-size: @primaryTxtFontSize;
    font-weight: 400;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    color: @primaryHeadingColor;
    font-weight: bold;
}
h1 {
    font-size: @heading1FontSize;
    @media @tabletAndBelow {
        font-size: @heading1FontSizeMobile;
    }
}
h2 {
    font-size: @heading2FontSize;
    @media @tabletAndBelow {
        font-size: @heading2FontSizeMobile;
    }
}
h3 {
    font-size: @heading3FontSize;
    @media @tabletAndBelow {
        font-size: @heading3FontSizeMobile;
    }
}
h4 {
    font-size: @heading4FontSize;
    @media @tabletAndBelow {
        font-size: @heading4FontSizeMobile;
    }
}
h5 {
    font-size: @heading5FontSize;
}
h6 {
    font-size: @heading6FontSize;
}
