/* ===================== Theme Colors ======================== */
@themeColorPrimus: #141F3D;
@themeColorPrimus-RGBA50: rgba(20,31, 61, 0.50);
@themeColorBlue: #220871;
@themeColorBlue-RGBA5: rgba(34,8,113, 0.05);
@themeColorBlue-RGBA50: rgba(34,8,113, 0.50);
@themeColorGold: #C9A014;
@themeColorGold-Lighter: rgb(228, 180, 21);



/* ===================== Background ======================== */
@primaryBackgroundColor: #FFFFFF;
@secondaryBackgroundColor: #F8F7F5;
@tertiaryBackgroundColor: #F2EFEA;
@forthBackgroundColor: @themeColorPrimus;

/* ===================== HEADING Colors ======================== */
@primaryHeadingColor: #333333;
@primaryHeadingDisabledColor: #B2B1B1;

/* ===================== TEXT Colors ======================== */
@primaryTxtColor: #333333;
@secondaryTxtColorWhite: #FFFFFF;

/* ===================== Border Colors ======================== */
@primaryBorderColor: #FFFFFF;
@secondaryBorderColor: #DEE2E6;

/* ===================== heading Font Sizes ======================== */
@heading1FontSize: 32px;
@heading2FontSize: 28px;
@heading3FontSize: 24px;
@heading4FontSize: 22px;
@heading5FontSize: 18px;
@heading6FontSize: 16px;
@heading1FontSizeMobile: 26px;
@heading2FontSizeMobile: 24px;
@heading3FontSizeMobile: 20px;
@heading4FontSizeMobile: 16px;

/* ===================== Text Font Sizes ======================== */
@primaryTxtFontSize: 14px;
@secondaryTxtFontSize: 12px;

/* ===================== Font Families ======================== */
@primaryFontFamily: 'Lato', Arial, sans-serif;
@secondaryFontFamily: "PT Serif", Arial, serif;

/* ===================== MOBILE BREAKPOINT VARIABLES ======================== */
@mobileOnly         : ~"(max-width: 767px)";
@tabletOnly         : ~"(min-width: 768px) and (max-width: 991px)";
@tabletAndLarger    : ~"(min-width: 768px)";
@tabletAndBelow     : ~"(max-width: 991px)";
@desktopOnly        : ~"(min-width: 992px) and (max-width: 1279px)";
@desktopAndBelow    : ~"(max-width: 1279px)";
@desktopAndLarger   : ~"(min-width: 992px)";
@largerThanDesktop  : ~"(min-width: 1280px)";
