@import "../../../variables.less";
.home-carousel-container {
    padding: 1rem;
    .home-carousel-items-container {
        padding: 1rem;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        border-color: @secondaryBorderColor;
        background-color: @primaryBackgroundColor;
        -webkit-box-shadow: 0px 5px 20px -10px rgba(181,181,181,1);
        -moz-box-shadow: 0px 5px 20px -10px rgba(181,181,181,1);
        box-shadow: 0px 5px 20px -10px rgba(181,181,181,1);
    }
    .comp-slider-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        .slider-item {
            position: relative;
            flex-basis: 200px;
            margin: 5px;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;
            background-color: @themeColorGold;
            opacity: 1;

            &:not(.add-item) {
                -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: fadein 2s; /* Firefox < 16 */
                -ms-animation: fadein 2s; /* Internet Explorer */
                -o-animation: fadein 2s; /* Opera < 12.1 */
                animation: fadein 2s;
            }

            & * {
                transition: all 500ms ease 0s;
            }

            &.add-item {
                background-color: @themeColorGold;
            }

            &.selected {
                box-shadow: 1px 1px 5px 3px @themeColorPrimus;
            }

            &:hover {
                .item-preview-image {
                    opacity: 0.2;
                }

                .action-btn {
                    opacity: 1;
                }
            }
        }
        .add-icon {
            position: relative;
            height: 100px;
            width: 100%;
            vertical-align: top;
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
            }
        }
        .item-preview-image {
            width: 100%;
            height: 100px;
        }
        .action-btn {
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
        .item-name {
            display: block;
            background-color: @forthBackgroundColor;
            color: @secondaryTxtColorWhite;
            padding: 5px 10px;
            margin: 0;
            font-size: 12px;
            cursor: pointer;
        }
    }
    .home-carousel-item-form-container {
        .home-carousel-items-container();
        margin-top: 1rem;
        .form-title {
            font-size: 17px;
        }
    }
}
