<div class="page-list-container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-newspaper fa-lg toolbar-icon"></i>
            <i class="far fa-newspaper fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>{{pageTitle}}</span>
                <small style="display: block;" class="text-secondary">
                    This page lets you manage your <strong>{{pageTitle}}.</strong>
                </small>
            </div>
        </div>
        <div class="right-area">
            <ng-template [ngIf]="true">
                <button class="btn site-btn-primary-outline" routerLink="/pages/create">
                    <i class="fas fa-plus-square"></i> Create New Page
                </button>
            </ng-template>
        </div>
    </div>

    <ngx-datatable
            class="material"
            rowHeight="auto"
            [rows]="pageListData"
            [limit]="10"
            [columnMode]="ColumnMode.force"
            [loadingIndicator]="isPageListLoading"
            [reorderable]="true"
            [headerHeight]="50"
            [footerHeight]="50"
            [selected]="pageSelected"
            [selectionType]="SelectionType.single"
            (activate)="onPageListHover($event)"
            (select)="onPageListSelect($event)"
    >
        <ngx-datatable-column name="Page Name" prop="page_name">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Page Url" prop="page_url">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{appConfig.site_url}}<i>{{ value }}</i>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Page Category Code" prop="page_category_code">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Template Code" prop="template_code">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{ column.name }}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <i [innerHTML]="row['template_code']"></i>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
