.site-header {
    max-height: 56px;
    background-color: @themeColorGold-Lighter;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(4, 9, 20, 0.27);
    -moz-box-shadow: 0px 0px 8px 5px rgba(4, 9, 20, 0.27);
    box-shadow: 0px 0px 8px 5px rgba(4, 9, 20, 0.27);

    .navbar-brand {
        margin-left: 1rem;
        min-width: 120px;
    }

    .sidebar-toggler {
        padding: 0.25rem 0.75rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        font-size: 1.0rem;
    }
    .navbar-right-container {
        min-width: 200px;
        position: relative;
        .user-profile, .user-info-container {
            display: inline-block;
        }
        .user-profile-container {
            position: absolute;
            height: 100%;
            .user-email {
                display: block;
            }
        }
        .user-profile {
            height: 100%;
        }
        #user_dropdown {
            background-color: @primaryBackgroundColor;
            .dropdown-content-header {
                background-color: @themeColorGold-Lighter;
                margin-top: -7px;
                padding: 0.75rem;
                height: 63px;
            }
            .header-text {
                display: inline-block;
                padding: 0 10px;
            }
            .logout-button {
                display: inline-block;
            }
        }
        .user-info-container {
            padding-left: 60px;
        }
    }
}
