<div class="user-type-item-page-container  container">
    <div class="toolbar clearfix">
        <div class="left-area">
            <i class="far fa-file-word fa-lg toolbar-icon"></i>
            <div class="toolbar-title">
                <span>{{pageTitle}}</span>
                <small style="display: block;" class="text-secondary" [innerHTML]="pageSubtitle"></small>
            </div>
        </div>
        <div class="right-area">
            <ng-template [ngIf]="!IDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="itemCreateEvent()">
                    <i class="fas fa-plus-square"></i> {{pageCreateButtonText}}
                </button>
                <button class="btn btn-warning" (click)="resetForms()">
                    <i class="fas fa-eraser"></i> Reset Form
                </button>
                <button class="btn btn-danger">
                    <i class="far fa-window-close"></i> Cancel
                </button>
            </ng-template>
            <ng-template [ngIf]="IDFromRoute">
                <button class="btn site-btn-primary-outline" (click)="itemUpdateEvent()">
                    <i class="far fa-save"></i> Save Changes
                </button>
                <button class="btn btn-danger" (click)="itemDeleteEvent()">
                    <i class="far fa-trash-alt"></i> {{pageDeleteButtonText}}
                </button>
            </ng-template>
        </div>
    </div>
    <div class="user-type-item-container">
        <form [formGroup]="itemForm">
            <div class="form-group row">
                <label for="user_type_label" class="col-md-2 col-form-label">User Type Label: </label>
                <div class="col-md-10">
                    <input id="user_type_label" type="text" class="form-control" aria-describedby="user_type_label_help" placeholder="Enter user type label"
                           formControlName="user_type_label" [ngClass]="{'is-invalid': isItemFormSubmitted && fC.user_type_label.errors}">
                    <div class="invalid-feedback" *ngIf="isItemFormSubmitted && fC.user_type_label.errors">
                        <div *ngIf="fC.user_type_label.errors.required">User Type Label is required</div>
                    </div>
                    <small id="user_type_label_help" class="form-text text-muted">Please enter the user type label.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_type_label" class="col-md-2 col-form-label">Modules: </label>
                <div class="col-md-10" *ngIf="isItemLoaded">
                    <ng-container *ngFor="let moduleItem of moduleList; let i = index;">
                        <div class="form-check form-check-inline" style="width: calc(50% - 12px); margin-top: 10px;">
                            <input type="checkbox" class="form-check-input" [id]="'form_check_' + i"
                                   [value]="moduleItem.module_code"
                                   [checked]="moduleItem.checked"
                                   (change)="onModuleItemClick($event)">
                            <label class="form-check-label" for="form_check_{{i}}">
                                {{moduleItem.module_label}}
                            </label>
                        </div>
                    </ng-container>

                </div>
            </div>
        </form>
    </div>
</div>
