<div class="comp-left-nav-container" [ngClass]="{'collapsed' : collapsed}">
    <accordion [isAnimated]="true" [closeOthers]="true" class="nav flex-sm-column">
<!--        <a routerLink="/"-->
<!--           class="accordion-item">-->
<!--            <i class="fa fa-tachometer-alt nav-link-icon"></i> Dashboard-->
<!--        </a>-->
        <accordion-group appModuleCode [moduleCode]="'HOME'">
            <span accordion-heading>
                <i class="fas fa-home nav-link-icon"></i> Home Management
            </span>
            <a routerLink="/home"
               class="accordion-child-item"><i class="fab fa-slideshare nav-link-icon"></i> Home Banner</a>
        </accordion-group>
        <accordion-group appModuleCode [moduleCode]="['EVENTS', 'CONGRESS_SESSIONS']">
            <span accordion-heading>
                <i class="far fa-calendar-alt nav-link-icon"></i> Events & Sessions
            </span>
            <a routerLink="/pages/category/EVENT_PAGE"
               class="accordion-child-item"
               appModuleCode [moduleCode]="'EVENTS'"
            ><i class="fas fa-calendar-alt nav-link-icon"></i>Events</a>
            <a routerLink="/event-category"
               class="accordion-child-item"
               appModuleCode [moduleCode]="'EVENTS'"
            ><i class="fas fa-calendar-minus nav-link-icon"></i>Event Category</a>
            <a routerLink="/pages/category/CONGRESS_SESSION_PAGE"
               class="accordion-child-item"
               appModuleCode [moduleCode]="'CONGRESS_SESSIONS'"
            ><i class="fas fa-list nav-link-icon"></i>Congress Sessions</a>
        </accordion-group>
<!--        <a routerLink="/pages"-->
<!--           class="accordion-item">-->
<!--            <i class="fas fa-calendar-alt nav-link-icon"></i> Events & Sessions-->
<!--        </a>-->
<!--        <a routerLink="/auth/login"-->
<!--           class="accordion-item">-->
<!--            <i class="fa fa-tachometer-alt nav-link-icon"></i> Login-->
<!--        </a>-->
        <a routerLink="/about-us"
           class="accordion-item"
           appModuleCode [moduleCode]="'ABOUT_US'"
        >
            <i class="fas fa-users nav-link-icon"></i> About Us
        </a>
        <a routerLink="/contact-us"
           class="accordion-item"
           appModuleCode [moduleCode]="'CONTACT_US'"
        >
            <i class="fas fa-id-card nav-link-icon"></i> Contact Us
        </a>
        <a routerLink="/resolutions"
           class="accordion-item"
           appModuleCode [moduleCode]="'RESOLUTIONS'"
        >
            <i class="far fa-file-word nav-link-icon"></i> Resolutions
        </a>
        <a routerLink="/colleges"
           class="accordion-item"
           appModuleCode [moduleCode]="'COLLEGES'"
        >
            <i class="fas fa-university nav-link-icon"></i> Colleges
        </a>
        <accordion-group appModuleCode [moduleCode]="'USERS'">
            <span accordion-heading>
                <i class="fas fa-user-cog nav-link-icon"></i> Users Management
            </span>
            <a routerLink="/users"
               class="accordion-child-item"><i class="fas fa-users nav-link-icon"></i> Users List</a>
            <a routerLink="/users/user-types"
               class="accordion-child-item"><i class="fas fa-user-tag nav-link-icon"></i> User Types</a>
        </accordion-group>
    </accordion>
</div>
