<nav ngxNavbarDynamicExpand class="navbar-light site-header">
    <button class="sidebar-toggler"
            type="button"
            (click)="toggleLeftNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
        routerLink="/"
        href="#">{{appConfig.site_name}}</a>
    <button class="navbar-toggler"
            type="button"
            (click)="collapse.toggle()"
            aria-controls="main-nav"
            aria-expanded="false"
            aria-label="Navigáció kapcsoló">
        <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
            <i class="fas fa-bars text-white"></i>
        </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse" >
        <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item" *ngFor="let item of items">-->
<!--                <a [routerLink]="item.pageRoute" class="nav-link" href="#">{{item.pageTitle}}</a>-->
<!--            </li>-->
        </ul>
        <div class="navbar-right-container">
            <div id="user_dropdown_button" class="user-profile-container" aria-controls="user_dropdown"
                 dropdown dropdownToggle triggers="mouseover" [autoClose]="true" placement="bottom right">
                <img class="user-profile rounded" src="assets/img/default_user.png">
                <i class="fas fa-angle-down"></i>
                <ul id="user_dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="user_dropdown_button">
                    <li class="dropdown-content-header" role="menuitem">
                        <img class="user-profile rounded" src="assets/img/default_user.png" >
                        <div class="header-text">
                            <strong class="user-email">{{userData?.email}}</strong>
                        </div>
                        <button class="btn btn-sm site-btn-primary-outline rounded-pill logout-button"
                            (click)="logout()">Logout</button>
                    </li>
<!--                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                    <li class="divider dropdown-divider"></li>-->
<!--                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="user-info-container">
                <strong class="user-email">{{userData?.email}}</strong>
                <div>{{userData?.user_type_label}}</div>
            </div>
        </div>
    </ngx-navbar-collapse>
</nav>
